<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        &lt;!&ndash; 데이터베이스 연결 설정 &ndash;&gt;-->
<!--        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>-->
<!--        <property name="hibernate.connection.username">sunny</property>-->
<!--        <property name="hibernate.connection.password">sunny</property>-->

<!--        &lt;!&ndash; Hibernate 설정 &ndash;&gt;-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.format_sql">true</property>-->

<!--        &lt;!&ndash; 기타 설정 &ndash;&gt;-->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->